<div class="container__about">
    <div class="container__about__title">
        <hr>
        <h1>SOBRE</h1>
        <hr>
    </div>
    <div class="container__about__content">
        <p>Criado por <a href="https://www.linkedin.com/in/felipeaguiar-exe/">Felipe Silva Aguiar</a>, Educador Tech da
            DIO, esse
            projeto foi criado para colocar em prática alguns dos estudos sobre o framework Angular simulando um blog, para isso foi evoluido por <a href="www.linkedin.com/in/rodrigotclima">Rodrigo Lima</a>.
        </p>
    </div>
    <a [routerLink]="['']">Voltar à Página Inicial</a>
</div>